<div id="sectionColophon" class="section">
	
    <div class="slide active">
	    
	    <div class="container">
		    
		    <section class="site-colophon">
	    
				<p class="lead">The Civil Service LGBT Impact Index has been created by the Civil Service Rainbow Alliance, with support of volunteers across the Civil Service.</p>
				
				<p>We'd particularly like to thank:</p>
				
				<ul>
					<li><strong>Oliver Entwsitle</strong>, CSRA Chair</li>
					<li><strong>Kate Scott-Hughes</strong>, CSRA Vice-Chair</li>
					<li><strong>John Peart</strong>, for leading the creation of the Index</li>
					<li><strong>Sonia Turcotte</strong>, for creative design and production</li>
					<li><strong>Rebecca Cooper</strong>, for supporting with the awards event</li>
					<li><strong>Morgane Donse, Sue Owen, Hilary Spencer and Ravneet Virdi</strong>, for judging the LGBT Index</li>
					<li><strong>Tim Durrant</strong>, for logistics and finance support for the event</li>
				</ul>
				
				
				<p>If you'd like to become a member of the Civil Service Rainbow Alliance, just complete <a href="http://ukcsra.com/join-us/">this registration form</a>.</p>
	
		    </section>
		
	    </div>
    		
    </div>
    
    
</div>